<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - Visualization</title>
    <meta name="description" content="Data Visualization">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
<nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>标书雷达</span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto" style="padding-right: 0px;">
                <li class="nav-item"><a class="nav-link" href={% url 'home' %}>主页</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'import' %}>导入文件</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Qualification' %}>资质检测</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Repeatability' %}>重复度对比</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Predict' %}><span
                        style="color: var(--bs-nav-link-hover-color);">中标概率预测</span></a></li>
                <li class="nav-item"></li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href={% url 'register' %}>注册</a></li>
                {% endif %}            </ul>
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'home' %}>{{ request.user.username }}</a>
                <a class="btn btn-primary shadow" role="button" href={% url 'logout' %}>退出登录</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'login' %}>登录</a>
            {% endif %}
        </div>
    </div>
</nav>
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-md-6 text-center"><img class="img-fluid w-100"
                                                   src="../static/img/illustrations/register.svg"/></div>
            <div class="col-md-5 col-xl-4 text-center text-md-start">
                <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1">更改密码</span></h2>
                <form method="post">{% csrf_token %}
                    <div class="mb-3"><input class="shadow form-control" type="text" name="name" placeholder="用户名"/>
                    </div>
                    <div class="mb-3"><input class="shadow form-control" type="password" name="password"
                                             placeholder="原密码" style="margin-bottom: 6px;"/><input
                            class="shadow form-control" type="password" name="password2" placeholder="新密码"
                            style="margin-bottom: 6px;"/><input class="shadow form-control" type="password"
                                                                name="password3" placeholder="新密码（重复）"/></div>
                    <div class="mb-5">
                        <button class="btn btn-primary shadow" type="submit">更改密码</button>
                    </div>
                    <p class="text-muted"></p>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
