<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Visualization</title>
    <meta name="description" content="Data Visualization">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
<nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>标书雷达</span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto" style="padding-right: 0px;">
                <li class="nav-item"><a class="nav-link active" href={% url 'home' %}>主页</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'import' %}>导入文件</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Qualification' %}>资质检测</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Repeatability' %}>重复度对比</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Predict' %}><span
                        style="color: var(--bs-nav-link-hover-color);">中标概率预测</span></a></li>
                <li class="nav-item"></li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href={% url 'register' %}>注册</a></li>
                {% endif %}
            </ul>
            {#        若登录则将登录换为用户名，并将登录文本覆盖，登录按钮的url换为主页#}
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'home' %}>{{ request.user.username }}</a>
                <a class="btn btn-primary shadow" role="button" href={% url 'logout' %}>退出登录</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'login' %}>登录</a>
            {% endif %}
        </div>
    </div>
</nav>
<header class="pt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-4 fw-bold mb-5">优秀的辅助评标工具  — <span class="underline">标书雷达</span>
                    </h1>
                    <p class="fs-5 text-muted mb-5">提供全面的资质检测、重复度对比以及中标概率预测</p>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative"><img class="img-fluid"
                                                                src="../static/img/illustrations/report.svg"
                                                                style="width: 601px;"/></div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card border-light border-1 d-flex justify-content-center p-4">
                    <div class="card-body">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon">
                            <svg class="icon icon-tabler icon-tabler-checkbox" xmlns="http://www.w3.org/2000/svg"
                                 width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="9 11 12 14 20 6"></polyline>
                                <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"></path>
                            </svg>
                        </div>
                        <div>
                            <h4 class="fw-bold">资质检测</h4>
                            <p class="text-muted">天眼查、信用中国以及中国政府采购网</p><a class="btn btn-sm px-0"
                                                                                          role="button"
                                                                                          href={% url 'Qualification' %}>了解更多 
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                 fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light border-1 d-flex justify-content-center p-4">
                    <div class="card-body">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon">
                            <svg class="icon icon-tabler icon-tabler-file-check" xmlns="http://www.w3.org/2000/svg"
                                 width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <path d="M9 15l2 2l4 -4"></path>
                            </svg>
                        </div>
                        <div>
                            <h4 class="fw-bold">重复度对比</h4>
                            <p class="text-muted">对不同标书进行重复度对比，防止串标行为</p>
                            <a class="btn btn-sm px-0" role="button"
                               href={% url 'Repeatability' %}><strong>了解更多</strong>
                                <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="1em"
                                     height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light border-1 d-flex justify-content-center p-4">
                    <div class="card-body">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon">
                            <svg class="icon icon-tabler icon-tabler-chart-radar" xmlns="http://www.w3.org/2000/svg"
                                 width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 3l9.5 7l-3.5 11h-12l-3.5 -11z"></path>
                                <path d="M12 7.5l5.5 4l-2.5 5.5h-6.5l-2 -5.5z"></path>
                                <path d="M2.5 10l9.5 3 9.5-3"></path>
                                <path d="M12 3v10l6 8"></path>
                                <path d="M6 21l6-8"></path>
                            </svg>
                        </div>
                        <div>
                            <h4 class="fw-bold">中标概率预测</h4>
                            <p class="text-muted">使用机器学习算法预测标书中标概率</p>
                            <a class="btn btn-sm px-0" role="button" href={% url 'Predict' %}>了解更多
                                <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="1em"
                                     height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="display-6 fw-bold pb-md-4"
                    style="padding: 0;padding-top: 16px;padding-right: 0px;padding-left: 88px;margin-top: 7px;">资质检测 <span
                        class="underline">更高效</span></h3>
            </div>
            <div class="col-md-6 pt-4">
                <div>
                    <p class="text-muted mb-4">通过建立标准资料库实现资质对比，</p>
                    <p class="text-muted mb-4" style="margin-top: -21px;">一次登录即可多个页面查看</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="margin-top: -9px;">
                    <div class="col text-center text-md-start"
                         style="width: 161.75px;margin: 36px;margin-left: 85px;margin-top: 9px;padding: 8px;">
                        <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                            <svg class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                                 xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                            <a href="https://www.tianyancha.com/"><h5 class="fw-bold mb-0 ms-2">天眼查</h5></a>
                        </div>
                    </div>
                    <div class="col text-center text-md-start"
                         style="width: 161.75px;margin: 36px;margin-left: 85px;margin-top: 9px;padding: 8px;">
                        <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                            <svg class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                                 xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                            <a href="http://www.ccgp.gov.cn/"><h5 class="fw-bold mb-0 ms-2">政府采购网</h5></a>
                        </div>
                    </div>
                    <div class="col text-center text-md-start"
                         style="width: 161.75px;margin: 36px;margin-left: 85px;margin-top: 9px;padding: 8px;">
                        <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                            <svg class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                                 xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                            <a href="https://www.creditchina.gov.cn/"><h5 class="fw-bold mb-0 ms-2">信用中国</h5></a>
                        </div>
                    </div>
                    <div class="col text-center text-md-start"
                         style="width: 161.75px;margin: 36px;margin-left: 85px;margin-top: 9px;padding: 8px;">
                        <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                            <svg class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                                 xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                            <h5 class="fw-bold mb-0 ms-2">印章检测</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-first order-md-last">
                <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;"
                          src="../static/img/illustrations/data-management.svg" width="469" height="353"/></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div><img class="rounded img-fluid fit-cover" style="min-height: 300px;"
                          src="../static/img/illustrations/presentation.svg" width="800"/></div>
            </div>
            <div class="col">
                <div style="max-width: 450px;">
                    <h3 class="fw-bold pb-md-4">文字对比 <span class="underline">更轻松</span></h3>
                    <p class="text-muted py-4 py-md-0">标书内容对比，防止串标行为发生</p>
                    <div class="row gy-4 row-cols-2 row-cols-md-2">
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-warning">40+</span>
                                <p class="fw-normal text-muted">Amazing plugins</p>
                            </div>
                        </div>
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-warning">100+</span>
                                <p class="fw-normal text-muted">Ready-to use templates</p>
                            </div>
                        </div>
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-warning">123+</span>
                                <p class="fw-normal text-muted">Years of experience</p>
                            </div>
                        </div>
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-warning">123+</span>
                                <p class="fw-normal text-muted">Years of experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="bg-primary border rounded border-0 border-primary overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <div class="text-white p-4 p-md-5">
                        <h3 class="fw-bold pb-md-4">中标概率 <span class="underline"><em>预测准</em></span></h3>
                        <p class="mb-4">通过机器学习算法预测标书中标概率</p>
                        <div class="my-3"><a class="btn btn-warning me-2 mt-2" role="button"
                                             href={% url 'Predict' %}>了解更多</a></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img
                        class="w-100 h-100 fit-contain pt-5 pt-md-0"
                        src="../static/img/illustrations/web-development.svg"/></div>
            </div>
        </div>
    </div>
</section>
<section class="py-5"></section>
</body>

</html>