<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - Visualization</title>
    <meta name="description" content="Data Visualization">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>标书雷达</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto" style="padding-right: 0px;">
                <li class="nav-item"><a class="nav-link" href={% url 'home' %}>主页</a></li>
                <li class="nav-item"><a class="nav-link active" href={% url 'import' %}>导入文件</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Qualification' %}>资质检测</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Repeatability' %}>重复度对比</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Predict' %}><span
                        style="color: var(--bs-nav-link-hover-color);">中标概率预测</span></a></li>
                <li class="nav-item"></li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href={% url 'register' %}>注册</a></li>
                {% endif %}            </ul>
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'home' %}>{{ request.user.username }}</a>
                <a class="btn btn-primary shadow" role="button" href={% url 'logout' %}>退出登录</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
                {% if request.user.is_authenticated %}
                    <a class="btn btn-primary shadow" role="button"
                       href={% url 'home' %}>{{ request.user.username }}</a>
                    <a class="btn btn-primary shadow" role="button" href={% url 'logout' %}>退出登录</a>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <a class="btn btn-primary shadow" role="button" href={% url 'login' %}>登录</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>
<section>
    <div class="container py-5" style="height: 439.188px;margin-top: 90px;">
        <div>
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab"
                                                                href="#tab-4">项目文件</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                                                                href="#tab-5">标准文件</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-4" class="tab-pane active" role="tabpanel">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                                                                            data-bs-toggle="tab"
                                                                            href="#tab-1">招标文件</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                            data-bs-toggle="tab"
                                                                            href="#tab-2">投标文件</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active" role="tabpanel">
                                    <div class="text-start text-bg-light d-lg-flex justify-content-lg-center table-responsive"
                                         style="margin: 0px;margin-top: 28px;">
                                        <div class="bg-white shadow-lg d-lg-flex justify-content-lg-center"
                                             style="width: 630.333px;display: block;position: relative;margin: 47px;">
                                            <form method="post" enctype="multipart/form-data" style="margin-top: 46px;">
                                                {% csrf_token %}
                                                <div class="mb-3"><input class="shadow-sm form-control form-control"
                                                                         type="text" name="project name"
                                                                         placeholder="工程项目名称"/></div>
                                                <div class="mb-3"><input
                                                        class="form-control form-control-sm form-control" type="file"
                                                        multiple
                                                        style="padding: 12.8px 12.8px;text-decoration: underline;margin: 0;font-family: Raleway, sans-serif;width: 352.917px;border-style: none;"
                                                        name="project file"/></div>
                                                <input type="hidden" value="招标文件" name="type"/>
                                                <div class="mb-5">
                                                    <button class="btn btn-primary shadow" type="submit">导入文件
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane" role="tabpanel">
                                    <div class="text-start text-bg-light d-lg-flex justify-content-lg-center table-responsive"
                                         style="margin: 0px;margin-top: 28px;">
                                        <div class="bg-white shadow-lg d-lg-flex justify-content-lg-center"
                                             style="width: 630.333px;display: block;position: relative;margin: 47px;">
                                            <form method="post" enctype="multipart/form-data" style="margin-top: 46px;">
                                                <span>{% csrf_token %} </span>
                                                <div class="mb-3"><input class="shadow-sm form-control form-control"
                                                                         type="text" name="project name"
                                                                         placeholder="工程项目名称"/></div>
                                                <div class="mb-3"><input
                                                        class="form-control form-control-sm form-control" type="file"
                                                        multiple
                                                        style="padding: 12.8px 12.8px;text-decoration: underline;margin: 0;font-family: Raleway, sans-serif;width: 352.917px;border-style: none;"
                                                        name="project file"/></div>
                                                <input type="hidden" value="投标文件" name="type"/>
                                                <div class="mb-5">
                                                    <button class="btn btn-primary shadow" type="submit">导入文件
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane" role="tabpanel">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                                                                            data-bs-toggle="tab"
                                                                            href="#tab-6">安全鉴定</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                            data-bs-toggle="tab"
                                                                            href="#tab-7">测量、监测</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                            data-bs-toggle="tab"
                                                                            href="#tab-3">零星维修</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                            data-bs-toggle="tab"
                                                                            href="#tab-8">运行养护类</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-6" class="tab-pane active" role="tabpanel">
                                    <div class="text-start text-bg-light d-lg-flex justify-content-lg-center table-responsive"
                                         style="margin: 0px;margin-top: 28px;">
                                        <div class="bg-white shadow-lg d-lg-flex justify-content-lg-center"
                                             style="width: 630.333px;display: block;position: relative;margin: 47px;">
                                            <form method="post" enctype="multipart/form-data" style="margin-top: 46px;">
                                                {% csrf_token %}
                                                <div class="mb-3"><input
                                                        class="form-control form-control-sm form-control" type="file"
                                                        multiple
                                                        style="padding: 12.8px 12.8px;text-decoration: underline;margin: 0;font-family: Raleway, sans-serif;width: 352.917px;border-style: none;"
                                                        name="test file"/></div>
                                                <input type="hidden" value="安全鉴定" name="type"/>
                                                <div class="mb-5">
                                                    <button class="btn btn-primary shadow" type="submit">导入文件
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-7" class="tab-pane" role="tabpanel">
                                    <div class="text-start text-bg-light d-lg-flex justify-content-lg-center table-responsive"
                                         style="margin: 0px;margin-top: 28px;">
                                        <div class="bg-white shadow-lg d-lg-flex justify-content-lg-center"
                                             style="width: 630.333px;display: block;position: relative;margin: 47px;">
                                            <form method="post" enctype="multipart/form-data" style="margin-top: 46px;">
                                                {% csrf_token %}
                                                <div class="mb-3"><input
                                                        class="form-control form-control-sm form-control" type="file"
                                                        multiple
                                                        style="padding: 12.8px 12.8px;text-decoration: underline;margin: 0;font-family: Raleway, sans-serif;width: 352.917px;border-style: none;"
                                                        name="test file"/></div>
                                                <input type="hidden" value="测量、监测" name="type"/>
                                                <div class="mb-5">
                                                    <button class="btn btn-primary shadow" type="submit">导入文件
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane" role="tabpanel">
                                    <div class="text-start text-bg-light d-lg-flex justify-content-lg-center table-responsive"
                                         style="margin: 0px;margin-top: 28px;">
                                        <div class="bg-white shadow-lg d-lg-flex justify-content-lg-center"
                                             style="width: 630.333px;display: block;position: relative;margin: 47px;">
                                            <form method="post" enctype="multipart/form-data" style="margin-top: 46px;">
                                                {% csrf_token %}
                                                <div class="mb-3"><input
                                                        class="form-control form-control-sm form-control" type="file"
                                                        multiple
                                                        style="padding: 12.8px 12.8px;text-decoration: underline;margin: 0;font-family: Raleway, sans-serif;width: 352.917px;border-style: none;"
                                                        name="test file"/></div>
                                                <input type="hidden" value="零星维修" name="type"/>
                                                <div class="mb-5">
                                                    <button class="btn btn-primary shadow" type="submit">导入文件
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-8" class="tab-pane" role="tabpanel">
                                    <div class="text-start text-bg-light d-lg-flex justify-content-lg-center table-responsive"
                                         style="margin: 0px;margin-top: 28px;">
                                        <div class="bg-white shadow-lg d-lg-flex justify-content-lg-center"
                                             style="width: 630.333px;display: block;position: relative;margin: 47px;">
                                            <form method="post" enctype="multipart/form-data" style="margin-top: 46px;">
                                                {% csrf_token %}
                                                <div class="mb-3"><input
                                                        class="form-control form-control-sm form-control" type="file"
                                                        multiple
                                                        style="padding: 12.8px 12.8px;text-decoration: underline;margin: 0;font-family: Raleway, sans-serif;width: 352.917px;border-style: none;"
                                                        name="test file"/></div>
                                                <input type="hidden" value="运行养护" name="type"/>
                                                <div class="mb-5">
                                                    <button class="btn btn-primary shadow" type="submit">导入文件
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/startup-modern.js"></script>
</body>

</html>