<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - Visualization</title>
    <meta name="description" content="Data Visualization">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>标书雷达</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto" style="padding-right: 0px;">
                <li class="nav-item"><a class="nav-link" href={% url 'home' %}>主页</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'import' %}>导入文件</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Qualification' %}>资质检测</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Repeatability' %}>重复度对比</a></li>
                <li class="nav-item"><a class="nav-link active" href={% url 'Predict' %}><span
                        style="color: var(--bs-nav-link-hover-color);">中标概率预测</span></a></li>
                <li class="nav-item"></li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href={% url 'register' %}>注册</a></li>
                {% endif %}            </ul>
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'home' %}>{{ request.user.username }}</a>
                <a class="btn btn-primary shadow" role="button" href={% url 'logout' %}>退出登录</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'login' %}>登录</a>
            {% endif %}
        </div>
    </div>
</nav>
<section class="py-5" style="margin-top: 74px;">
    <div class="container">
        <div class="bg-dark border-0 border-dark border rounded overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6" style="background: var(--ref-gray-600);">
                    <div class="text-white p-4 p-md-5">
                        <div>
                            <form method="post"><span>{% csrf_token %} </span>
                                <h2 class="fw-bold text-white mb-3">输入文件名（已导入文件）</h2><input
                                        class="shadow-sm form-control" type="text" name="project name"
                                        placeholder="文件名称" style="width: 353px;"/>
                                <button class="btn btn-primary shadow" type="submit" style="margin-top: 21px;">
                                    调取文件
                                </button>
                            </form>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last"
                     style="min-height: 250px;background: var(--ref-gray-300);">
                    <div class="row">
                        <div class="col">
                            <div style="text-align: center;margin-top: 20px;">
                                <h3 class="fw-bold text-dark mb-3">检测结果</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div style="margin: 26px;">
                                <p>中标预测概率为：XX%</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div></div>
                            <nav class="d-lg-flex justify-content-lg-center"></nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/startup-modern.js"></script>
</body>

</html>