<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Features - Visualization</title>
    <meta name="description" content="Data Visualization">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">

</head>

<body>
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>标书雷达</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto" style="padding-right: 0px;">
                <li class="nav-item"><a class="nav-link" href={% url 'home' %}>主页</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'import' %}>导入文件</a></li>
                <li class="nav-item"><a class="nav-link active" href={% url 'Qualification' %}>资质检测</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Repeatability' %}>重复度对比</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Predict' %}><span
                        style="color: var(--bs-nav-link-hover-color);">中标概率预测</span></a></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href={% url 'register' %}>注册</a></li>
            </ul>
            <a class="btn btn-primary shadow" role="button" href={% url 'login' %}>登录</a>
        </div>
    </div>
</nav>
<section class="py-5 mt-5">
    <section class="py-5">
        <section class="py-4 py-md-5">
            <div class="container py-md-5">
                <div style="margin: 0px;margin-top: 0px;margin-bottom: 0px;padding: 107px;padding-top: 0;padding-bottom: 0;">
                    <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>天眼查查询</strong></span>
                    </h2>
                    <form method="post"><span> {% csrf_token %} </span>
                        <div class="mb-3"><input class="shadow form-control form-control" type="number" name="phone"
                                                 placeholder="手机号"/></div>
                        <div class="mb-3"><input class="shadow form-control form-control" type="password"
                                                 name="password" placeholder="密码"/>
                            <div class="mb-3" style="margin-top: 20px;"><input class="shadow form-control form-control"
                                                                               type="text" name="companyname"
                                                                               placeholder="查询公司名称"/></div>
                        </div>
                        <div class="mb-5">
                            <button class="btn btn-primary shadow" type="submit">查询</button>
                        </div>
                        <p class="text-muted"></p>
                    </form>
                </div>
            </div>
        </section>
        <section>
            <div class="container py-5" style="height: 439.188px;">
                <div>
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                                                                        data-bs-toggle="tab" href="#tab-4">天眼查</a>
                            </li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                                                                        href="#tab-5">政府采购</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                                                                        href="#tab-6">信用中国</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-4" class="tab-pane active" role="tabpanel">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                                    data-bs-toggle="tab" href="#tab-1">主要人员</a>
                                        </li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                                    data-bs-toggle="tab" href="#tab-2">工程项目 </a>
                                        </li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                                    data-bs-toggle="tab" href="#tab-3">股东信息</a>
                                        </li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                                    data-bs-toggle="tab" href="#tab-10">资质资格</a>
                                        </li>
                                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                                                                                    data-bs-toggle="tab" href="#tab-7">注册人员</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" style="overflow-y: scroll;height: 400px;">
                                        <div id="tab-1" class="tab-pane" role="tabpanel">
                                            <div class="table-responsive">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th>主要人员</th>
                                                                    <th>职位</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for person in all_main_person %}
                                                                    <tr>
                                                                        <td>{{ person.pname }}</td>
                                                                        <td>{{ person.position }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-2" class="tab-pane" role="tabpanel">
                                            <div class="table-responsive">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <table id="tb" class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th>项目编号</th>
                                                                    <th>项目名称</th>
                                                                    <th>项目属地</th>
                                                                    <th>项目类别</th>
                                                                    <th>建设单位</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for project in all_project %}
                                                                    <tr>
                                                                        <td>{{ project.project_id }}</td>
                                                                        <td>{{ project.project_name }}</td>
                                                                        <td>{{ project.project_place }}</td>
                                                                        <td>{{ project.project_type }}</td>
                                                                        <td>{{ project.construct_company }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-3" class="tab-pane" role="tabpanel">
                                            <div class="table-responsive">
                                                <div>
                                                    <div>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>股东（发起人）</th>
                                                                <th>持股比例</th>
                                                                <th>最终受益股份</th>
                                                                <th>认缴出资额</th>
                                                                <th>认缴出资日期</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for shareholder in all_shareholder %}
                                                                <tr>
                                                                    <td>{{ shareholder.shareholder_name }}</td>
                                                                    <td>{{ shareholder.shareholding_ratio }}</td>
                                                                    <td>{{ shareholder.ultimate_beneficial_shares }}</td>
                                                                    <td>{{ shareholder.contribution_amount }}</td>
                                                                    <td>{{ shareholder.contribution_time }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-10" class="tab-pane" role="tabpanel">
                                            <div class="table-responsive">
                                                <div>
                                                    <div>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>发证日期</th>
                                                                <th>证书有效期</th>
                                                                <th>资质类别</th>
                                                                <th>资质证书号</th>
                                                                <th>资质名称</th>
                                                                <th>发证机关</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for qualification in all_qualification %}
                                                                <tr>
                                                                    <td>{{ qualification.qualification_date }}</td>
                                                                    <td>{{ qualification.qualification_validity }}</td>
                                                                    <td>{{ qualification.qualification_type }}</td>
                                                                    <td>{{ qualification.qualification_number }}</td>
                                                                    <td>{{ qualification.qualification_name }}</td>
                                                                    <td>{{ qualification.qualification_authority }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-7" class="tab-pane active" role="tabpanel">
                                            <div class="table-responsive">
                                                <div>
                                                    <span> {% for shareholder in all_shareholder %} {% endfor %} </span>
                                                    <div>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>姓名</th>
                                                                <th>注册类别</th>
                                                                <th>注册号（执业印章号）</th>
                                                                <th>注册专业</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for register_person in all_register_person %}
                                                                <tr>
                                                                    <td>{{ register_person.register_person_name }}</td>
                                                                    <td>{{ register_person.register_person_type }}</td>
                                                                    <td>{{ register_person.register_person_number }}</td>
                                                                    <td>{{ register_person.register_person_profession }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3" style="margin-top: 20px;"><input class="shadow form-control form-control"
                                                                               type="text" name="companynname"
                                                                               placeholder="查询公司名称"/></div>
                        </div>
                        <div class="mb-5">
                            <button class="btn btn-primary shadow" type="submit">查询</button>
                        </div>
                            <div id="tab-5" class="tab-pane" role="tabpanel">
                                <div class="table-responsive">
                                    <div>
                                        <div>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>公司名称</th>
                                                    <th>处罚结果</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for obj in all_CGW_inquire %}
                                                <tr>
                                                    <td>{{ obj.company_name }}</td>
                                                    <td>{{ obj.penalty }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-6" class="tab-pane" role="tabpanel">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                                                                                    data-bs-toggle="tab" href="#tab-8">基础信息</a>
                                        </li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                                                                    data-bs-toggle="tab" href="#tab-9">行政信息</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" style="overflow-y: scroll;height: 400px;">
                                        <div id="tab-8" class="tab-pane active" role="tabpanel">
                                            <div class="table-responsive">
                                                <div>
                                                    <div>
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>法定代表人</th>
                                                                <th>企业类型</th>
                                                                <th>成立日期</th>
                                                                <th>住所</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>{{ person.pname }}</td>
                                                                <td>{{ person.position }}</td>
                                                                <td>Cell 3</td>
                                                                <td>Cell 4</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-9" class="tab-pane" role="tabpanel">
                                            <div class="table-responsive">
                                                <div>
                                                    <div>
                                                        <table id="tb" class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>行政管理</th>
                                                                <th>诚实守信</th>
                                                                <th>严重失信主体名单</th>
                                                                <th>经营异常</th>
                                                                <th>信用承诺</th>
                                                                <th>信用评价</th>
                                                                <th>司法判决</th>
                                                                <th>其他</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>{{ project.project_id }}</td>
                                                                <td>{{ project.project_name }}</td>
                                                                <td>{{ project.project_place }}</td>
                                                                <td>{{ project.project_type }}</td>
                                                                <td>{{ project.construct_company }}</td>
                                                                <td>Cell 6</td>
                                                                <td>Cell 7</td>
                                                                <td>Cell 8</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<p>



</p>
<section></section>

<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/startup-modern.js"></script>
</body>

</html>