{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Integrations - Visualization</title>
    <meta name="description" content="Data Visualization">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>标书雷达</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto" style="padding-right: 0px;">
                <li class="nav-item"><a class="nav-link" href={% url 'home' %}>主页</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'import' %}>导入文件</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Qualification' %}>资质检测</a></li>
                <li class="nav-item"><a class="nav-link active" href={% url 'Repeatability' %}>重复度对比</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Predict' %}><span
                        style="color: var(--bs-nav-link-hover-color);">中标概率预测</span></a></li>
                <li class="nav-item"></li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href={% url 'register' %}>注册</a></li>
                {% endif %}            </ul>
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'home' %}>{{ request.user.username }}</a>
                <a class="btn btn-primary shadow" role="button" href={% url 'logout' %}>退出登录</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'login' %}>登录</a>
            {% endif %}
        </div>
    </div>
</nav>
<section class="py-5 mt-5"></section>
<section>
    <section class="py-5" style="margin-top: -66px;">
        <div class="container">
            <div style="height: 109px;">
                <div>
                    <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1">印章检测</span></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6" style="background: var(--ref-gray-600);">
                        <div class="text-white p-4 p-md-5">
                            <div>
                                <form method="post">{% csrf_token %}
                                    <h2 class="fw-bold text-white mb-3">输入文件名（已导入文件）</h2><input
                                            class="shadow-sm form-control" type="text" name="project name"
                                            placeholder="文件名称" style="width: 353px;"/>
                                    <input type="hidden" value="印章检测" name="type"/>
                                    <button class="btn btn-primary shadow" type="submit" style="margin-top: 21px;">
                                        调取文件
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last"
                         style="min-height: 250px;background: var(--ref-gray-300);">
                        <div class="row">
                            <div class="col">
                                <div style="text-align: center;margin-top: 20px;">
                                    <h3 class="fw-bold text-dark mb-3">检测结果</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {#调取seal数据库中的图片#}
                                {% for seal in all_seal %}
                                    <div class="seal_picture" id="page__{{ seal.seal_page }}" style="display:none">
                                        <img class="w-100 h-100 fit-cover"
                                             src="../static/media/Seal_Picture/{{ seal.file_title }}/{{ seal.seal_page }}.png"
                                        />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <h5 class="fw-bold text-black-50 mb-3" style="margin: 6px;">印章抽取图片</h5>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <p id="pages"
                                       style="margin: 16px;margin-top: 4px;margin-bottom: 33px;overflow-x: scroll">
                                        存在印章的页码分别为：{{ pages }}</p>
                                </div>
                                <script>
                                    window.onload = function () {
                                        var divs = document.getElementsByClassName("seal_picture");
                                        divs[0].style = "padding: 30px;padding-top: 0px;padding-bottom: 0px;";
                                    }
                                </script>
                                <div class="page-icon">
                                    <button class="firstPage" onclick="first_click()"><img
                                            src="../static/img/page-icon/left-end.png" style="width:14px;height:15px"/>
                                    </button>
                                    <button class="beforePage" onclick="prev_click()"><img
                                            src="../static/img/page-icon/page-left.png" style="width:14px;height:15px"/>
                                    </button>
                                    <button>第<input id="currentPage" onchange="choose_page()" type="text" value="1"/>页
                                    </button>
                                    <button>/&nbsp;&nbsp;&nbsp;共<input id="totalPage" type="button"
                                                                        value="{{ page_len }}" readonly="readonly">页
                                    </button>
                                    <button class="nextPage" onclick="next_click()"><img
                                            src="../static/img/page-icon/page-right.png"
                                            style="width:14px;height:15px"/></button>
                                    <button class="lastPage" onclick="last_click()"><img
                                            src="../static/img/page-icon/right-end.png" style="width:14px;height:15px"/>
                                    </button>
                                </div>
                            </div>
                            <script src="../static/js/indexx.js" type="text/javascript" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5" style="margin-top: -66px;">
        <div class="container">
            <div style="height: 109px;">
                <div>
                    <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1">关键信息检测</span></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6" style="background: var(--ref-gray-600);">
                        <div class="text-white p-4 p-md-5">
                            <div>
                                <form method="post">{% csrf_token %}
                                    <h2 class="fw-bold text-white mb-3">输入文件名（已导入文件）</h2><input
                                            class="shadow-sm form-control" type="email" name="project name"
                                            placeholder="文件名称" style="width: 353px;"/>
                                    <button class="btn btn-primary shadow" type="submit" style="margin-top: 21px;">
                                        调取文件
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last"
                         style="min-height: 250px;background: var(--ref-gray-300);">
                        <div class="row">
                            <div class="col">
                                <div style="text-align: center;margin-top: 20px;">
                                    <h3 class="fw-bold text-dark mb-3">检测结果</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div></div>
                                <ul class="list-group">
                                    <li class="list-group-item"><span>企业名称</span>
                                        <ul style="overflow-y: scroll">
                                            <li>Item 1</li>
                                            <li>Item 2</li>
                                            <li>Item 3</li>
                                            <li>Item 4</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><span>姓名</span>
                                        <ul style="overflow-y: scroll">
                                            <li>Item 1</li>
                                            <li>Item 2</li>
                                            <li>Item 3</li>
                                            <li>Item 4</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><span>错别字检测</span>
                                        <ul style="overflow-y: scroll">
                                            <li>Item 1</li>
                                            <li>Item 2</li>
                                            <li>Item 3</li>
                                            <li>Item 4</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5" style="margin-top: -66px;">
        <div class="container">
            <div style="height: 109px;">
                <div>
                    <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1">重复字段检测</span></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6" style="background: var(--ref-gray-600);">
                        <div class="text-white p-4 p-md-5">
                            <div id="tab-1" class="tab-pane active" role="tabpanel">
                                <div class="text-start text-bg-light d-lg-flex justify-content-lg-center table-responsive"
                                     style="margin: 0px;margin-top: 28px;">
                                    <!-- <div class="bg-white shadow-lg d-lg-flex justify-content-lg-center" 
                                         style="width: 630.333px;display: block;position: relative;margin: 47px;"> -->
                                    <div id="add_file_tmplate" style="display:none">
                                        <label for="FileToTest">查重文件名称</label>
                                        <div class="mb-3"><input class="shadow-sm form-control form-control"
                                                                 type="text" name="file_name"
                                                                 placeholder="查重文件名称"/></div>
                                        <!-- 一个一个输入文件名称 -->
                                        <div class="form-group">
                                            <label for="StartPage">查重起始页码</label>
                                            <input type="number" class="form-control" name="InputStartPage"
                                                   placeholder="默认值：1">
                                        </div>
                                        <div class="form-group">
                                            <label for="EndPage">查重终止页码</label>
                                            <input type="number" class="form-control" name="InputEndPage"
                                                   placeholder="默认值：100">
                                        </div>
                                    </div>
                                    <form method="post" enctype="multipart/form-data" style="margin-top: 46px;"
                                          id="thisform">
                                        <input type="hidden" value="重复字段检测" name="type"/>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="MatchingStringLimit">匹配字符串的长度下限</label>
                                            <input type="text" class="form-control" name="InputMatchingStringLimit"
                                                   placeholder="默认值:300">
                                        </div>
                                        <div class="form-group">
                                            <label for="LibraryStringLimit">标准库中有的字符串最低长度</label>
                                            <input type="text" class="form-control" name="InputLibraryStringLimit"
                                                   placeholder="默认值:50">
                                        </div>
                                        <br> </br>
                                        <div class="form-group">
                                            <label for="StandardLibrary">标准库名称</label>
                                            <input type="text" class="form-control" name="InputStandardLibrary"
                                                   placeholder="文件名称" name="standard_name">
                                        </div>
                                        <!-- <div class="mb-3"><input
                                          class="form-control form-control-sm form-control" type="file"
                                          multiple
                                          style="padding: 12.8px 12.8px;text-decoration: underline;margin: 0;font-family: Raleway, sans-serif;width: 352.917px;border-style: none;"
                                          name="standard_name"/></div> -->
                                        <div class="form-group">
                                            <label for="StandardStartPage">标准库起始页</label>
                                            <input type="text" class="form-control" name="InputStandardStartPage"
                                                   placeholder="默认值：1">
                                        </div>
                                        <div class="form-group">
                                            <label for="StandardEndPage">标准库终止页</label>
                                            <input type="text" class="form-control" name="InputStandardEndPage"
                                                   placeholder="默认值：50">
                                        </div>
                                        <br> </br>
                                        <div id="add_file">
                                            <label for="FileToTest">查重文件名称</label>
                                            <div class="mb-3"><input class="shadow-sm form-control form-control"
                                                                     type="text" name="file_name"
                                                                     placeholder="查重文件名称"/></div>
                                            <!-- 一个一个输入文件名称 -->
                                            <div class="form-group">
                                                <label for="StartPage">查重起始页码</label>
                                                <input type="number" class="form-control" name="InputStartPage"
                                                       placeholder="默认值：1">
                                            </div>
                                            <div class="form-group">
                                                <label for="EndPage">查重终止页码</label>
                                                <input type="number" class="form-control" name="InputEndPage"
                                                       placeholder="默认值：100">
                                            </div>
                                        </div>
                                        <script type="text/jscript">
                                                add_div = function(){
                                                    var tmp=document.getElementById('add_file_tmplate');
                                                    var ad=document.getElementById('add_file');
                                                    var adiv=document.createElement('div');
                                                    // var thisform=document.getElementById('thisform')
                                                    adiv.innerHTML = tmp.innerHTML;                                                    
                                                    // thisform.appendChild(adiv); 
                                                    ad.appendChild(adiv);                                                   
                                                }



                                        </script>
                                        <button class="btn btn-primary shadow" onclick="add_div()" type="button">
                                            继续添加文件
                                        </button>

                                        <!-- <div class="mb-5">
                                            <button class="btn btn-primary shadow" type="submit">继续输入文件
                                            </button>
                                            <input type="hidden" value="1" name="importing"/>
                                        </div>
                                        <h8 class="fw-bold text-black mb-9">将所有需检测的文件导入后，点击开始检测按钮</h8>
                                        <div class="mb-5">
                                            <button class="btn btn-primary shadow" type="submit">检测文件输入完毕
                                            </button>
                                            <imput type="hidden" value="0" name="importing"/>
                                        </div> -->

                                        <br> </br>
                                        <div class="mb-5">
                                            <button class="btn btn-primary shadow" type="submit">开始检测</button>
                                        </div>
                                    </form>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last"
                         style="min-height: 250px;background: var(--ref-gray-300);">
                        <div class="row">
                            <div class="col">
                                <div style="text-align: center;margin-top: 20px;">
                                    <h3 class="fw-bold text-dark mb-3">检测结果</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="shadow-sm"
                                     style="margin-left: 18px;margin-right: 18px;border-bottom-style: solid;">
                                    <h4 class="fw-bold text-dark mb-3">重复文段内容</h4>
                                    <p style="margin: 16px;margin-top: 4px;margin-bottom: 33px;height: 749.344px;">
                                        重复内容{{ output_str }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="margin-left: 18px;margin-top: 10px;">
                                    <h4 class="fw-bold text-dark mb-3">去除标准库中内容后的重复字段</h4>
                                    <p style="margin: 16px;margin-top: 4px;margin-bottom: 33px;">
                                        重复字段：{{ contrast_output }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/startup-modern.js"></script>
</body>

</html>