<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Testimonials - Visualization</title>
    <meta name="description" content="Data Visualization">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>标书雷达</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto" style="padding-right: 0px;">
                <li class="nav-item"><a class="nav-link" href={% url 'home' %}>主页</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'import' %}>导入文件</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Qualification' %}>资质检测</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Repeatability' %}>重复度对比</a></li>
                <li class="nav-item"><a class="nav-link" href={% url 'Predict' %}><span
                        style="color: var(--bs-nav-link-hover-color);">中标概率预测</span></a></li>
                <li class="nav-item"></li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href={% url 'register' %}>注册</a></li>
                {% endif %}            </ul>{% if request.user.is_authenticated %}
            <a class="btn btn-primary shadow" role="button" href={% url 'home' %}>{{ request.user.username }}</a>
            <a class="btn btn-primary shadow" role="button" href={% url 'logout' %}>退出登录</a>
        {% endif %}
            {% if not request.user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href={% url 'login' %}>登录</a>
            {% endif %}
        </div>
    </div>
</nav>
<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">What people say<br><span class="underline pb-2">about us</span></h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
            <div class="col mb-4">
                <div class="d-flex align-items-center align-items-sm-start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                         viewBox="0 0 16 16" class="bi bi-quote fs-1 text-warning flex-shrink-0">
                        <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path>
                    </svg>
                    <div>
                        <p class="fs-6 mb-3 ms-2">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit
                            class dapibus, aliquet morbi.</p>
                        <div class="d-flex ms-2">
                            <div class="d-flex">
                                <p class="fw-bold me-2">John Smith</p>
                                <p class="text-muted mb-0">Erat netus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="d-flex align-items-center align-items-sm-start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                         viewBox="0 0 16 16" class="bi bi-quote fs-1 text-warning flex-shrink-0">
                        <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path>
                    </svg>
                    <div>
                        <p class="fs-6 mb-3 ms-2">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit
                            class dapibus, aliquet morbi.</p>
                        <div class="d-flex ms-2">
                            <div class="d-flex">
                                <p class="fw-bold me-2">John Smith</p>
                                <p class="text-muted mb-0">Erat netus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="d-flex align-items-center align-items-sm-start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                         viewBox="0 0 16 16" class="bi bi-quote fs-1 text-warning flex-shrink-0">
                        <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path>
                    </svg>
                    <div>
                        <p class="fs-6 mb-3 ms-2">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit
                            class dapibus, aliquet morbi.</p>
                        <div class="d-flex ms-2">
                            <div class="d-flex">
                                <p class="fw-bold me-2">John Smith</p>
                                <p class="text-muted mb-0">Erat netus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/startup-modern.js"></script>
</body>

</html>